<!DOCTYPE html>
<meta charset="utf-8">

<div class="chart"></div>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var data = [2,3,5,8,90,5,67,26];
var x = d3.scale.linear()
.domain([0, d3.max(data)])
.range([0,490]);

d3.select(".chart").selectAll("div").data(data).enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });

</script>
