
<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to Kicker Dashboard!</div>
                <div class="intro-heading">There is all you need to know about Kicker in Wunder</div>
                <a href="/pages/best" style="margin: 0 auto; display:block; text-align: center; font-size: 20px">Who is the best here?</a>
            </div>
        </div>
    </header>